extends layout

block content
  h1= title
  section 
    div 
      a(href="/countries") Countries: #{data.countryCount}
    div 
      a(href="/continents") Continents: #{data.continentCount}
    div 
      a(href="/groupings") Grouping: #{data.groupingCount}